{% extends 'base/base.html' %}
{% block content%}
<div class="row">
    <div class="col l6 offset-l3 m8 offset-m2 s12">
        <div class="card-panel grey lighten-4">
        <div class="center">
</div>
        <ul class="tabs grey lighten-4">
       <li class="tab col s6"><a class="active black-text" href="#login" style="font-family:Stylish;font-size:1.3rem">Login</a></li>
       <li class="tab col s6"><a  class="black-text" href="#signup" style="font-family:Stylish;font-size:1.3rem">Sign Up</a></li>
       
     </ul>
     <div class="row">
     <div id="login" class="col s12">
         <h4 class="center" style="font-family:Stylish">Login to Continue.</h4>
     <form class="col s12" method="POST" action="login_check.php?move_to=">
     <div class="row">
       <div class="input-field col s12">
         <i class="material-icons prefix">person_pin</i>
         <input type="text" name="username" id="username" required placeholder="Enter Username">
       </div>
       <div class="input-field col s12">
         <i class="material-icons prefix">vpn_key</i>
         <input type="password" name="password" id="password" required placeholder="Enter Password">
       </div>
       <a class="waves-effect waves-teal btn-flat modal-trigger blue-text" href="#modal1"><i class="material-icons left red-text">sentiment_very_dissatisfied</i> Forgot Password?</a>
   <input type="hidden" name="token_login_id" value="f94013fe57b0746ca944cbd5fe3cd54f">
       <div class="center">
           <input type="submit" value="Login" class="btn teal lighten-1" name="login">
       </div>
     </div>
   </form>
     </div>
   <div id="signup" class="col s12">
       <h4 class="center" style="font-family:Stylish">Sign Up to get Started.</h4>
       <div class="center">
       <img id="blah" src="#" alt="Profile Image will appear here." />
       </div>
   <form class="col s12" enctype="multipart/form-data" action="login_check.php?move_to=" method="POST">
     <div class="row">
     <div class="input-field col s12">
         <i class="material-icons prefix">email</i>
         <input type="email" name="email" id="email" required class="validate" placeholder="Email">  
         <span class="helper-text" data-error="Wrong Email Format"></span>
       </div>
     <div class="input-field col s12">
         <i class="material-icons prefix">person_pin</i>
         <input type="text" name="username" id="username" required placeholder="Username">
       </div>
       <div class="input-field col s12">
         <i class="material-icons prefix">vpn_key</i>
         <input type="password" name="password" id="password" required placeholder="Password">
       </div>
       <div class="file-field input-field col s12">
     <div class="btn teal lighten-3">
       <span><i class="material-icons left black-text text-lighten-1">mood</i> Profile Pic</span>
       <input type="file" name="profile_pic" onchange="readURL(this);">
     </div>
     <div class="file-path-wrapper">
       <input class="file-path validate" type="text">
     </div>
   </div>
       <input type="hidden" name="token_signup_id" value="1124f6e88561837516c70c934cc373e0">
       <p class="green-text"><i class="material-icons left blue-text">notifications_active</i> We will send you new discussion's notification via mail.</p>
       <div class="center">
       <input type="submit" value="Sign Up" name="signup" class="btn">
       </div>
     </div>
   </form>
</div>
</div>
        </div>
    </div>
</div>
{%endblock%}